<html>
  <head>
    <title>{{name}} Dashboard</title>
  </head>
  <body>
    <div id="content"></div>
    <script src="assets/common.bundle.js" charset="utf-8"></script>
    <script src="assets/{{name}}.dashboard.bundle.js" charset="utf-8"></script>
  </body>
</html>
