<html>
  <head>
    <title><%= dashboard %> - A Handsome Dashboard</title>
    <script src="http://fb.me/react-0.12.2.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="assets/widgets.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script src="assets/<%= dashboard %>.js"></script>
  </body>
</html>
