$widget_width: 250px;
$widget_height: 300px;
$widget_padding: 21px;
$gutter: 10px;

$max_columns: 4;

$bg_color: #616161;
$color_1:  #00A1CB;
$color_2:  #61AE24;
$color_3:  #D70060;
$color_4:  #F18D05;
