$widget_width: 250px;
$widget_height: 300px;
$widget_padding: 21px;
$gutter: 10px;

$max_columns: 4;

$color_1: #00A1CB;
$color_2: #61AE24;
$color_3: #D70060;
$color_4: #F18D05;

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #616161;
}

#dashboard {
  max-width: $max_columns * ($widget_width + $gutter) - $gutter;
  padding: $gutter;
  margin: 0 auto;
}

.widget {
  width: $widget_width - $widget_padding*2;
  height: $widget_height - $widget_padding*2;
  padding: $widget_padding;
  background-color: $color_1;
  color: #FFF;
  h1 {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 0;
  }
}

@for $i from 1 through 4 {
  .w#{$i} {
    width: ($widget_width * $i) + ($gutter * ($i - 1)) - ($widget_padding * 2);
  }
  .h#{$i} {
    height: ($widget_height * $i) + ($gutter * ($i - 1)) - ($widget_padding * 2);
  }
}

.number_widget {
  background-color: $color_4;
  .number {
    font-size: 600%;
  }
}

.image_widget {
  background-color: #444;
}

.list_widget {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
    font-size: 1.3em;
    line-height: 1.2em;
  }
}
