$widget_width: 250px;
$widget_height: 300px;
$widget_padding: 21px;
$gutter: 10px;

body {
  padding: 0;
  margin: 0;
}

#dashboard {
  background-color: #616161;
  width: 100%;
  height: 1024px;
  padding: 10px;
}

.widget {
  width: $widget_width - $widget_padding*2;
  height: $widget_height - $widget_padding*2;
  padding: $widget_padding;
  background-color: #113F8C;
  color: #FFFFFF;
}

@for $i from 1 through 4 {
  .w#{$i} {
    width: ($widget_width * $i) + ($gutter * ($i - 1)) - ($widget_padding * 2);
  }
  .h#{$i} {
    height: ($widget_height * $i) + ($gutter * ($i - 1)) - ($widget_padding * 2);
  }
}
